.views-list-management {
  border: 1px solid #eee;
}
.views-list-management .view-header {
  background-color: #eee;
  padding: 20px 10px;
}
.views-list-management .view-header a {
  padding: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #ed7161;
}
.views-list-management .view-header a .add-entity-text {
  font-size: medium;
  font-weight: bold;
}
.views-list-management .view-header a:hover {
  text-decoration: none;
  color: #e5331c;
}
.views-list-management .view-header a,
.views-list-management .view-header a:visited,
.views-list-management .view-header a:hover,
.views-list-management .view-header a:active {
  text-decoration: none !important;
}
.views-list-management .view-filters {
  background-color: #fff;
  overflow: hidden;
  padding: 20px 10px;
}
.views-list-management .view-filters .views-exposed-form .form--inline {
  position: relative;
  float: left;
}
.views-list-management .view-filters .views-exposed-form .form--inline .form-item label {
  display: block;
}
.views-list-management .view-filters .views-exposed-form .form--inline .form-actions {
  position: absolute;
  left: 88%;
  top: 50%;
}
.views-list-management .view-filters .views-exposed-form .form--inline .form-actions button {
  font-size: 0;
  background: url("../images/icn_search.png") no-repeat;
  border: none;
}
.views-list-management .view-content {
  margin-top: -89px;
}
.views-list-management .view-content .form-wrapper {
  float: right;
}
.views-list-management .view-content .form-wrapper .form-wrapper .form-item {
  float: left;
  padding-right: 10px;
  max-width: 220px;
}
.views-list-management .view-content .form-wrapper .form-wrapper .form-item label {
  margin-bottom: 0px !important;
}
.views-list-management .view-content .form-wrapper .form-wrapper .form-actions {
  float: right;
  margin-top: 19px;
}
.views-list-management .view-content .form-wrapper .form-wrapper .form-actions button {
  background-color: #e9966f;
  border: 1px solid #e68659;
}
.views-list-management .view-content .form-wrapper .form-wrapper .form-actions button:hover {
  background-color: #e27643;
}
.views-list-management .view-content .views-form .not-found-message {
  margin: 89px 20px 20px 20px;
  text-align: center;
  font-weight: bold;
}
.views-list-management .view-content .table-responsive {
  background-color: #eee;
  clear: both;
}
.views-list-management .view-content .list-edit a {
  position: relative;
  visibility: hidden;
}
.views-list-management .view-content .list-edit a:before {
  position: absolute;
  left: 10px;
  font-family: 'Glyphicons Halflings';
  content: "\e065";
/*font-family: FontAwesome;
content: "\f044";*/
  visibility: visible;
  text-align: center;
}
.views-list-management .view-content .list-delete a {
  position: relative;
  visibility: hidden;
}
.views-list-management .view-content .list-delete a:after {
  position: absolute;
  left: 10px;
  visibility: visible;
  font-family: 'Glyphicons Halflings';
  content: "\e020";
/*font-family: FontAwesome;
content: "\f1f8";*/
  color: red;
  text-align: center;
}
.views-list-management .view-content #edit-actions .btn {
  display: none;
}

@media (min-width: 768px) and (max-width: 992px) {
  .views-list-management .view-filters .views-exposed-form .form--inline .form-actions {
    top: 43%;
}
  .views-list-management .view-content {
    margin-top: -20px;
    padding-left: 10px;
}
  .views-list-management .view-content .views-form form .form-wrapper {
    float: left;
}
  .views-list-management .view-content .views-form form .form-wrapper .form-wrapper .form-actions {
    float: left;
    margin-top: 19px;
}
}
@media (max-width: 767px) {
  .views-list-management .view-filters .views-exposed-form .form--inline .form-actions {
    top: 43%;
}
  .views-list-management .view-content {
    margin-top: -20px;
    padding-left: 10px;
}
  .views-list-management .view-content .views-form form .form-wrapper {
    float: left;
}
  .views-list-management .view-content .views-form form .form-wrapper .form-wrapper .form-actions {
    float: left;
    margin-top: 19px;
}
}
.user-register-form .form-item-mail {
  float: left;
  width: 50%;
  padding-right: 15px;
}
.user-register-form .form-item-pass {
  float: left;
  width: 100%;
}
.user-register-form .form-item-pass .form-item-pass-pass1 {
  float: left;
  width: 50%;
  padding-right: 15px;
}
.user-register-form .form-item-pass .form-item-pass-pass2 {
  float: right;
  width: 50%;
  padding-left: 15px;
}
.user-register-form .form-item-pass .description {
  margin-top: 114px;
}
.user-register-form .form-item-name {
  float: right;
  width: 50%;
  padding-left: 15px;
}
.user-register-form fieldset.form-item {
  float: left;
  width: 50%;
  padding-right: 15px;
}
.user-register-form fieldset.form-item legend {
  border: none;
}
.user-register-form .form-item-notify {
  float: right;
  width: 50%;
  padding-left: 15px;
}
.user-register-form .field--type-image {
  float: right;
  width: 50%;
  padding-left: 15px;
}
.user-register-form #edit-contact {
  float: left;
  width: 48%;
  height: 133px;
  margin-top: 5%;
}
.user-register-form #edit-timezone {
  float: right;
  width: 48%;
}

@media (min-width: 768px) and (max-width: 992px) {
  .user-register-form .form-item-mail {
    float: none;
    width: 100%;
    padding-right: 0;
}
  .user-register-form .form-item-pass {
    float: none;
    width: 100%;
}
  .user-register-form .form-item-pass .form-item-pass-pass1 {
    float: none;
    width: 100%;
    padding-right: 0;
}
  .user-register-form .form-item-pass .form-item-pass-pass2 {
    float: none;
    width: 100%;
    padding-left: 0;
}
  .user-register-form .form-item-pass .description {
    margin-top: 0;
}
  .user-register-form .form-item-name {
    float: none;
    width: 100%;
    padding-left: 0;
}
  .user-register-form fieldset.form-item {
    float: none;
    width: 100%;
    padding-left: 0;
}
  .user-register-form fieldset.form-item legend {
    border: none;
}
  .user-register-form .form-item-notify {
    float: none;
    width: 100%;
    padding-left: 0;
}
  .user-register-form .field--type-image {
    float: none;
    width: 100%;
    padding-left: 0;
}
  .user-register-form #edit-contact {
    float: none;
    width: 100%;
    height: 100%;
    margin-top: 0;
}
  .user-register-form #edit-timezone {
    float: none;
    width: 100%;
}
}
@media (max-width: 767px) {
  .user-register-form .form-item-mail {
    float: none;
    width: 100%;
    padding-right: 0;
}
  .user-register-form .form-item-pass {
    float: none;
    width: 100%;
}
  .user-register-form .form-item-pass .form-item-pass-pass1 {
    float: none;
    width: 100%;
    padding-right: 0;
}
  .user-register-form .form-item-pass .form-item-pass-pass2 {
    float: none;
    width: 100%;
    padding-left: 0;
}
  .user-register-form .form-item-pass .description {
    margin-top: 0;
}
  .user-register-form .form-item-name {
    float: none;
    width: 100%;
    padding-left: 0;
}
  .user-register-form fieldset.form-item {
    float: none;
    width: 100%;
    padding-left: 0;
}
  .user-register-form fieldset.form-item legend {
    border: none;
}
  .user-register-form .form-item-notify {
    float: none;
    width: 100%;
    padding-left: 0;
}
  .user-register-form .field--type-image {
    float: none;
    width: 100%;
    padding-left: 0;
}
  .user-register-form #edit-contact {
    float: none;
    width: 100%;
    height: 100%;
    margin-top: 0;
}
  .user-register-form #edit-timezone {
    float: none;
    width: 100%;
}
}

/*# sourceMappingURL=style.css.map */
