@media #{$mobile} {
	.user-register-form{
		.form-item-mail{
			float:none;
			width:100%;
			padding-right:0;
		}
		.form-item-pass{
			float:none;
			width:100%;
			.form-item-pass-pass1{
				float:none;
				width:100%;
				padding-right:0;
			}
			.form-item-pass-pass2{
				float:none;
				width:100%;
				padding-left:0;
			}
			.description{
				margin-top: 0;
			}
		}
		.form-item-name{
			float:none;
			width:100%;
			padding-left:0;
		}
		fieldset{ 
			&.form-item{
				float:none;
				width:100%;
				padding-left:0;
				legend{
					border:none;
				}
			}
		}
		.form-item-notify{
			float:none;
			width:100%;
			padding-left:0;
		}
		.field--type-image{
			float:none;
			width:100%;
			padding-left:0;
		}
		#edit-contact{
			float:none;
			width:100%;
			height: 100%;
			margin-top: 0;
		}
		#edit-timezone{
			float:none;
			width:100%;
		}
	}
}

