.views-list-management{
	border:1px solid #eee;
	.view-header{ //View Header Section
		background-color: #eee;
		padding: 20px 10px;
		a{
			padding:8px;
			font-size: 18px;
			font-weight: bold;
			color: #ed7161;
			.add-entity-text{
				font-size: medium;
				font-weight: bold;
			}
		}
		a:hover{
			text-decoration:none;
			color:darken(#ed7161,15%);
		}
		a,a:visited,a:hover,a:active {
			text-decoration:none !important;
		}
	}
	.view-filters{  //View Exposed Search Filter 
		background-color:#fff;
		overflow:hidden;
		padding:20px 10px;
		.views-exposed-form{
			.form--inline{
				position: relative;
				float:left;
				.form-item {	
					label{
						display:block;
					}
				}
				.form-actions{
					position: absolute;
					left: 88%;
					top: 50%;
					button{
						font-size:0;
						background:url("../images/icn_search.png") no-repeat;
						border:none;

					}
				}
			}
		}
	}
	.view-content{	//View Field section
		margin-top:-89px;
		.form-wrapper{
			float:right;
			.form-wrapper{
				.form-item{
					float:left;
					padding-right:10px;
					max-width:220px;
					label{
						margin-bottom:0px !important;
					}
				}
				.form-actions{
					float: right;
					margin-top: 19px;
					button{
						background-color:#E9966F;
						border:1px solid darken(#E9966F,5%);
					}
					button:hover{
						background-color:darken(#E9966F,10%);
					}
				}
			}
		}
		.views-form{
			.not-found-message{
				margin: 89px 20px 20px 20px;
				text-align: center;
				font-weight: bold;
			}
		}
		.table-responsive{
			background-color:#eee;
			clear:both;
		}
		.list-edit{
			a{
				position:relative;
				visibility: hidden;
			}
			a:before{
				position:absolute;
				left:10px;
				font-family: 'Glyphicons Halflings';
				content: "\e065";
				/*font-family: FontAwesome;
				content: "\f044";*/
				visibility: visible;
				text-align:center;
			}
		}
		.list-delete{
			a{
				position: relative;
				visibility: hidden;
			}
			a:after{
				position:absolute;
				left:10px;
				visibility: visible;
				font-family: 'Glyphicons Halflings';
				content: "\e020";
				/*font-family: FontAwesome;
				content: "\f1f8";*/
				color:red;
				text-align:center;
			}
		}
		#edit-actions{
			.btn{
				display:none;	//hide the 'apply to selected items' button at the bottom of the page
			}
		}
		
	}
}
