@media #{$large} {
	.user-register-form{
		.form-item-mail{
			float:left;
			width:450px;
		}
		.form-item-pass{
		float:left;
			.form-item-pass-pass1{
				float:left;
				width:450px;
			}
			.form-item-pass-pass2{
				float:right;
				width: 688px;
				padding-left: 240px;
			}
			.description{
				margin-top: 114px;
			}
		}
		.form-item-name{
			float:right;
			width:450px;
		}
		fieldset{ 
			&.form-item{
				float:left;
				width:450px;
			}
		}
		.form-item-notify{
			float: right;
			width: 450px;
		}
		.field--type-image{
			float: right;
			width:450px;
		}
		#edit-contact{
			float: left;
			width: 450px;
			height: 133px;
			margin-top: 47px;
		}
		#edit-timezone{
			float:right;
			width:450px;
		}
		#edit-actions{
			margin-top: 174px; 
			float: left; 
			margin-left: -451px; 
		}
	}
}
