.user-register-form{
	.form-item-mail{
		float:left;
		width:50%;
		padding-right:15px;
	}
	.form-item-pass{
		float:left;
		width:100%;
		.form-item-pass-pass1{
			float:left;
			width:50%;
			padding-right:15px;
		}
		.form-item-pass-pass2{
			float:right;
			width:50%;
			padding-left:15px;
		}
		.description{
			margin-top: 114px;
		}
	}
	.form-item-name{
		float:right;
		width:50%;
		padding-left:15px;
	}
	fieldset{ 
		&.form-item{
			float:left;
			width:50%;
			padding-right:15px;
			legend{
				border:none;
			}
		}
	}
	.form-item-notify{
		float: right;
		width:50%;
		padding-left:15px;
	}
	.field--type-image{
		float: right;
		width:50%;
		padding-left:15px;
	}
	#edit-contact{
		float: left;
		width:48%;
		height: 133px;
		margin-top: 5%;
	}
	#edit-timezone{
		float:right;
		width:48%;
	}
}
