@media #{$tablet} {
	.views-list-management{
		.view-filters{  //View Exposed Search Filter 
			.views-exposed-form{
				.form--inline{
					.form-actions{
						top: 43%;
					}
				}
			}
		}
		.view-content{	//View Field section
			margin-top:-20px;
			padding-left:10px;
			.views-form{
				form{
					.form-wrapper{
						float:left;
						.form-wrapper{
							.form-actions{
								float: left;
								margin-top: 19px;
							}
						}
					}
				}
			}
		}
	}
}
